
#carouselExampleIndicators{
    position: relative;
    top: 7rem;
    left: 19rem;
    height: 12%;
    width: 80%;
    z-index: 0;
}

.carousel-item{
    height: 35rem;
}

/* .carousel-indicators{
    position: absolute;    
    border: 2px solid blue;
} */

.cards{
    position: relative;
    top: 10rem;
    left: 19rem;
    width: 80%;
    height: auto;
    /* background-color: rgba(8, 5, 12, 0.76) ;  */
    background-color: #121212;
}

.cardPoster{
    position: relative;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 17rem ;
    float: left;
    text-align: center;  
}

.cardPoster h5{
    color: rgb(218, 216, 216);
    
}

.cardPoster img{
    height: 20rem;
    width: 15rem;
}

.cardPoster :hover{
    border: 2px solid white;
}

.cardsRenglon{
    display: flex;
    justify-content: center;
    align-content: center;
}


.infoList{
    background-color: gray;
}
