* {
    margin: 0px;
    padding: 0px;
}

.modal-content{
    background-color: #121212;
    color: white;
}

.btn-close{
    background-color: white;
}

body, html{
    background-color: #ebe7e7;
    width: 100%;
    height: 100%;
}

.redes a{
    color: rgb(248, 244, 244);
}

.redes a:link{
    text-decoration: none;
}

.encabezado{
    position: fixed;
    z-index: 10;
    width: 100%;
}

.menuLogin{
    margin-right: 10em;
    margin-left: 30em;
}

.sideBar{
    position: fixed;
    height: 100%;

    background-color: rgb(22, 22, 99);
}

.redes{
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.navbar-brand{
    font-size: xx-large;
}

.navSideBar{
    font-size: 35px;
    color: rgba(185, 182, 182, 0);
    margin-top: 3em;
}

.dropdown-menu button{
    margin-bottom: 5px;
    width: 8rem;
}
.dropdown-menu{
    text-align: center;
    background-color: black;
}

.divRegistro{
    margin-bottom: 8px;
    font-size: larger;
}

.divRegistro label{
    position: relative;
    width: 40%;
}

.divRegistro input{
    position: relative;
    left: 3%;
}

.divLogin{
    margin-bottom: 8px;
    font-size: larger;
}

.divLogin label{
    position: relative;
    width: 40%;
}

.divLogin input{
    position: relative;
    left: 3%
}

#olvidarPassword{
    width: 100%;
}
